.npc-header {
    .npc-class {
        font-size: 2.5rem;
    }

    .npc-subline {
        font-style: italic;
        .sub-race {
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }
    }
    padding-bottom: 8px;
}
