@import "../../../styles/variables.scss";

label {
    cursor: text;
}

input {
    font-family: $font-family-sans-serif !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}