.ability {
    padding: 12px;

    .ability-name {
        display: block;
        font-size: 14px;
        font-variant: small-caps;
        font-weight: bold;
        text-align: center;
    }
    
    .ability-score {
        text-align: center;
        font-size: 20px;
    }
}