@import "../../styles/variables.scss";

.ability {
    text-align: center;

    .ability-score {
        font-size: 24px;
        font-family: $font-family-secondary;
        .ability-modifier {
            &:before { content: "("; }
            &:after { content: ")"; }
        }
    }
}