.ability {
    padding: 12px;

    .ability-name {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    
    .ability-score {
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        .ability-modifier {
            &:before { content: "("; }
            &:after { content: ")"; }
        }
    }
}