<div class="npc-header">
    <h1 class="npc-name">
      {{character.name}}
      <small class="text-muted">
        {{character.class.name}}<source-reference [reference]="character.class.reference"></source-reference>
        <span *ngIf="character.classArchetype">({{character.classArchetype.name}}<source-reference [reference]="character.classArchetype.reference"></source-reference>)</span>
      </small>
    </h1>
    <div class="text-muted npc-subline">
      <span class="gender">{{character.genderDescription}}</span>
      <span class="race">{{character.race.name}}</span>
      <source-reference [reference]="character.race.reference"></source-reference>
      <span class="sub-race" *ngIf="character.subrace">{{character.subrace.name}}<source-reference [reference]="character.subrace.reference"></source-reference></span>,
      <span class="size">{{character.race.size}}</span>,
      <span class="npc-alignment">{{character.alignmentDescription}}</span>
    </div>
    <div class="text-muted npc-subline">
      <span class="height">{{character.heightString || 0}} <span class="font-weight-bold">({{heightDescriptor.describe(character)}})</span></span>,
      <span class="weight">{{(character.weight || 0) + " lbs."}} <span class="font-weight-bold">({{weightDescriptor.describe(character)}})</span></span>,
      <span class="weight">{{(character.age || 0) + " years old"}} <span class="font-weight-bold">({{ageDescriptor.describe(character)}})</span></span>
    </div>
  </div>