<dnd-character-header [character]="character" [builder]="builder"></dnd-character-header>
<dnd-background [character]="character" [builder]="builder"></dnd-background>
<dnd-ability-list [character]="character" [builder]="builder"></dnd-ability-list>
<dnd-stats [character]="character"></dnd-stats>
<dnd-feature-list [features]="character.features"></dnd-feature-list>
<div class="row mt-2 mb-2">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-primary btn-lg" (click)="onExportClick()">Export</button>
  </div>
</div>