<dnd-character-header [character]="character" [builder]="builder"></dnd-character-header>
<dnd-background [character]="character" [builder]="builder"></dnd-background>
<dnd-ability-list [character]="character" [builder]="builder"></dnd-ability-list>
<dnd-stats [character]="character"></dnd-stats>
<div class="bb-thin">
  <div class="row">
    <div class="col-12">
      <div class="character-sub-block">
        <h4 class="sub-block-title">Equipment</h4>
        {{character.equipmentString}}
      </div>
    </div>
  </div>
</div>
<dnd-feature-list [features]="character.features"></dnd-feature-list>
<dnd-action-list [actions]="character.actions"></dnd-action-list>
<div class="row mt-2 mb-2 export">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-primary btn-lg" (click)="onPrintClick()">Print</button>
    <button type="button" class="btn btn-primary btn-lg" (click)="onExportClick()">Export</button>
  </div>
</div>