@import "../../styles/variables.scss";

.speed-list {
    padding: 12px;
    text-align: center;

    .speed-type {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .speed-value {
        font-size: 28px;
        font-family: $font-family-secondary;
        &:after {
            content: " ft.";
        }
    }
}