@import "../../styles/variables.scss";

.speed-list {
    padding: 12px;
    text-align: center;

    .speed-value {
        font-size: 28px;
        font-family: $font-family-secondary;
        &:after {
            content: " ft.";
        }
    }
}