<div class="row speed-list">
    <div class="col-sm-3">
        <div class="speed-type">Walk</div>
        <div class="speed-value">{{speed.walk}}</div>
    </div>
    <div class="col-md-3">
        <div class="speed-type">Swim</div>
        <div class="speed-value">{{speed.swim}}</div>
    </div>
    <div class="col-md-3">
        <div class="speed-type">Fly</div>
        <div class="speed-value">{{speed.fly}}</div>
    </div>
    <div class="col-md-3">
        <div class="speed-type">Climb</div>
        <div class="speed-value">{{speed.climb}}</div>
    </div>
</div>