.btn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-bottom-right {
    width: 56px;
    height: 56px;

    padding: 0;
    font-size: 20px;
    border-radius: 50%;

    position: fixed;
    right: 20px;
    bottom: 20px;
    
    z-index: 200;
}

.btn-icon {
    padding: 0.32rem 1.5rem;
    .mdi {
        font-size: 1.4rem;
        vertical-align: middle;
    }
}
