body {
    padding-top: 3.4rem;
}

.navbar {
    flex-direction: row;
}

.attribute-block {
    padding: 12px;
    text-align: center;

    .attribute-title {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .primary {
        font-size: 24px;
        font-family: $font-family-secondary;
    }

    .secondary {
        font-size: 12px;
        font-family: $font-family-secondary;
        vertical-align: top;
    }
}

.form-group {
    label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .form-control,
    .custom-select {
        font-size: 14px;
        font-family: $font-family-secondary;
    }
}

sub.refresh {
    margin-left: 0.5rem;
    font-size: 60% !important;
}
