.attribute-block {
    padding: 12px;
    text-align: center;

    .attribute-title {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .primary {
        font-size: 24px;
        font-family: $font-family-secondary;
    }

    .secondary {
        font-size: 12px;
        font-family: $font-family-secondary;
        vertical-align: top;
    }
}

.form-group {
    label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .form-control,
    .custom-select {
        font-size: 14px;
        font-family: $font-family-secondary;
    }
}

sub.refresh {
    margin-left: 0.5rem;
    font-size: 60% !important;
}

.inline-icon {
    width: 48px;
    vertical-align: bottom;
    display: inline;
}

.loading-splash {
    background: #f4f4f4;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 9999999;
    transition: opacity .3s;
    top: 0;
    left: 0;

    .loading-inner {
        height: 50vh;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
}

.sk-cube-grid {
    width: 100px;
    height: 100px;
    margin: 40px auto;
    .sk-cube {
        width: calc(33.33% - 8px);
        height: calc(33.33% - 8px);
        background-color: $brand-primary;
        margin: 4px;
    }
}
