$brand-primary: #bc0f0f;
$brand-secondary: #ee8600;

$btn-secondary-color:              #fff !default;
$btn-secondary-bg:                 $brand-secondary !default;
$btn-secondary-border:             $btn-secondary-bg !default;

$btn-grey-color:                   #000;
$btn-grey-bg:                      rgb(221, 221, 221);
$btn-grey-border:                  $btn-grey-bg;

$btn-border-radius: 2px;
$btn-border-radius-sm: 2px;
$btn-border-radius-lg: 2px;

$font-family-sans-serif: 'Scala Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-secondary: "Segoe UI";

$enable-print-styles: false;