<footer class="navbar navbar-inverse bg-inverse fixed-bottom pt-3">
  <div class="container">
    <div class="row">
      <div style="width: 60px">
        <button class="btn btn-lg btn-primary btn-bottom-left" (click)="backClick.emit(null)"><i class="mdi mdi-step-backward"></i><span class="sr-only">Back</span></button>
      </div>
      <div class="col">
        <div class="input-group mb-2">
          <input #diceRollInput type="text" class="form-control" placeholder="1d4 + 3" [(ngModel)]="diceRoll" (keydown.enter)="onDiceRoll()" (focus)="diceRollInput.select()"
            autocorrect="off" autocapitalize="none" autocomplete="off">
          <div class="input-group-addon dice-equals" tab-index="0" (click)="onDiceRoll()"><i class="mdi mdi-equal"></i></div>
          <div class="input-group-addon dice-result">{{diceResult}}</div>
        </div>
      </div>
      <div style="width: 60px">
        <button class="btn btn-lg btn-primary btn-bottom-right" (click)="nextClick.emit(null)"><i class="mdi mdi-step-forward"></i><span class="sr-only">Next</span></button>
      </div>
    </div>
  </div>
</footer>