.dice-result {
    min-width: 64px;
}

.dice-symbol {
    cursor: pointer;
}

.dice-equals {
    cursor: pointer;
}

.bg-inverse {
    .form-control {
        border: 1px solid rgba(255, 255, 255, 0.70);
    }
}