<div class="initiative">
  <div class="header">
    <div class="row">
      <div class="col-2 col-lg-1 col-active">Active?</div>
      <div class="col-4 col-md-8 col-lg-6">Name</div>
      <div class="col-2 col-md-2 col-initiative">Initiative</div>
      <div class="col-2 col-md-2 hidden-md-down col-hp">HP</div>
      <div class="col-2 col-md-1 hidden-md-down col-remove">Remove</div>
    </div>
  </div>
  <div class="body">
    <div class="wrapper" *ngFor="let creature of creatures" [ngClass]="{disabled: !creature.active, active: currentInitiative === creature.initiative && creature.active}">
      <div class="row">
        <div class="col-2 col-lg-1 col-active">
          <dnd-slide-toggle [(ngModel)]="creature.active">
            <span class="sr-only">Active?</span>
          </dnd-slide-toggle>
        </div>
        <div class="col-8 col-lg-6 col-name">
          <dnd-inline-edit [(ngModel)]="creature.name"></dnd-inline-edit>
        </div>
        <div class="col-2 col-initiative">
          <dnd-inline-edit [(ngModel)]="creature.initiative" (beforeChange)="preProcessRoll($event)" (afterChange)="afterInitiativeChanged($event)"></dnd-inline-edit>
        </div>
        <div class="col-8 col-lg-2 offset-2 offset-lg-0 col-hp">
          <button class="btn" [ngClass]="{'btn-primary': (creature.currentHp > 0 && creature.currentHp < creature.maximumHp), 'btn-success': creature.currentHp >= creature.maximumHp, 'btn-grey': creature.currentHp === 0 }"
            (click)="onHPClick($event, creature)">
          {{creature.currentHp}} / {{creature.maximumHp}}
        </button>
        </div>
        <div class="col-2 col-lg-1 col-remove"><a href="#" (click)="onRemoveClick($event, creature)"><i class="mdi mdi-minus-circle"></i></a></div>
      </div>
      <div class="row notes small">
        <div class="offset-md-1 offset-2 col-md-11 col-10"><span class="note-title">Notes:</span>
          <dnd-inline-edit class="muted creature-notes" label="Add notes" [(ngModel)]="creature.notes"></dnd-inline-edit>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!creatures || creatures.length === 0">
      <div class="col-sm-12 no-creatures">No creatures. Add one below!</div>
    </div>
  </div>
  <div class="footer bt-thin pt-2">
    <div class="row">
      <div class="col-lg-1 col-md-2 col-3">
        <label class="sr-only" for="name">Count</label>
        <input type="number" class="form-control" id="count" placeholder="#" [(ngModel)]="newCreatureCount" (keydown.enter)="onAddToInitiativeClick()"
          #count>
      </div>
      <div class="col-lg-6 col-md-10 col-9">
        <label class="sr-only" for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Goblin" [(ngModel)]="newCreature.name" (keydown.enter)="onAddToInitiativeClick()">
      </div>
      <div class="col-lg-2 col-md-6 col-6 mt-2 mt-lg-0 col-initiative">
        <label class="sr-only" for="initiative">Initiative</label>
        <input type="text" class="form-control" id="initiative" placeholder="1d20+2" [(ngModel)]="newCreature.initiative" (keydown.enter)="onAddToInitiativeClick()" autocorrect="off" autocapitalize="none" autocomplete="off">
      </div>
      <div class="col-lg-2 col-md-6 mt-2 mt-lg-0 col-6 col-hp">
        <label class="sr-only" for="hp">HP</label>
        <input type="text" class="form-control" id="hp" placeholder="HP (2d8+2)" [(ngModel)]="newCreature.maximumHp" (keydown.enter)="onAddToInitiativeClick()" autocorrect="off" autocapitalize="none" autocomplete="off">
      </div>
      <div class="col-lg-1 col-md-12 col-12 col-remove">
        <a href="#" (click)="onAddToInitiativeClick($event)"><i class="mdi mdi-plus-circle"></i><label class="sr-only">Add to Initiative</label></a>
      </div>
    </div>
  </div>
</div>
<dnd-hp-modal #mdlHP [creature]="activeCreature"></dnd-hp-modal>