@import "../../../styles/variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "../../../styles/buttons.scss";

.initiative {
    margin-bottom: 0;

    .row {
        line-height: 2.5;
    }

    .header {
        border-bottom: 1px solid $brand-primary;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .col-active,
    .col-remove,
    .col-hp {
        text-align: center;
        button {
            line-height: 1.5;
            width: 60%;
        }
    }

    .notes {
        .note-title {
            font-weight: bold;
            font-style: italic;
        }

        .creature-notes {
            display: inline-block !important;

            .inline-edit {
                font-size: 80% !important;
                margin-bottom: 14px;
            }
        }
    }

    .col-initiative {
        text-align: center;
    }

    .body,
    .footer {
        .col-remove {
            color: $brand-primary;
            font-size: 24px;
            line-height: 1.6;
        }
    }

    .active {
        background: rgba($brand-primary, 0.7) !important;
        color: white;
    }

    .disabled {
        background: #eee;
        color: grey;
    }
}

@include media-breakpoint-down(md) {
    .initiative {
        .body {
            .col-hp button {
                width: 100%;
            }
        }
        .footer {
            .col-remove {
                font-size: 48px;
            }
        }
    }
}