@import "../../styles/variables.scss";

.ability-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid $accent-color;
    border-top: 2px solid $accent-color;

    li {
        float: left;
        width: calc(100% / 6);
    }
}

