@import "../../styles/variables.scss";

.ability-score-list {
    .ability-list {
        border-bottom: 2px solid $brand-primary;
        border-top: 2px solid $brand-primary;
    }
    .ability-score-info {
        font-size: 14px;
        font-weight: bold;
        padding: 6px;
        text-align: right;
        text-transform: uppercase;
        .ability-sum, .ability-percentile {
            display: inline-block;
        }
        .ability-sum {
            border-right: 1px solid $brand-primary;
            padding-right: 6px;
        }
    }
}