<h2>Abilities</h2>
<ul class="ability-list">
    <li>
        <ability-score ability="Strength" [score]="abilities.strength"></ability-score>
    </li>
    <li>
        <ability-score ability="Dexterity" [score]="abilities.dexterity"></ability-score>
    </li>
    <li>
        <ability-score ability="Constitution" [score]="abilities.constitution"></ability-score>
    </li>
    <li>
        <ability-score ability="Wisdom" [score]="abilities.wisdom"></ability-score>
    </li>
    <li>
        <ability-score ability="Intelligence" [score]="abilities.intelligence"></ability-score>
    </li>
    <li>
        <ability-score ability="Charisma" [score]="abilities.charisma"></ability-score>
    </li>
</ul>