<nav class="navbar navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">This is a simple tool for generating NPC character statistics based on the 5th edition Dungeons &amp; Dragons ruleset.
      <br/>To begin, click the button below.</p>
    <p><button type="button" class="btn btn-primary btn-lg" (click)="onGenerateClick()">Generate NPC</button>
      <p>
  </div>
</div>
<div class="container">
  <div class="npc-header">
    <h1 class="npc-name">John Smith</h1>
    <div class="text-muted npc-subline">
      <span class="race">{{character.race.name}}</span>,
      <source-reference [reference]="character.race.reference"></source-reference>
      <span class="sub-race" *ngIf="character.subrace">{{character.subrace.name}}<source-reference [reference]="character.subrace.reference"></source-reference></span>,
      <span class="size">{{character.race.size}}</span>,
      <span class="npc-alignment">{{character.alignmentDescription}}</span>
    </div>
    <div class="text-muted npc-subline">
      <span class="gender">{{character.genderDescription}}</span>,
      <span class="height">{{character.heightString || 0}}</span>,
      <span class="weight">{{(character.weight || 0) + " lbs."}}</span>, 
      <span class="weight">{{(character.age || 0) + " years old"}}</span>
    </div>
  </div>
  <ability-score-list [character]="character"></ability-score-list>
  <speed-display [speed]="character.speed"></speed-display>
  <div class="character-block-minor">
    <div class="row">
      <div class="col-md-4">
        <languages-display [languages]="character.languages"></languages-display>
      </div>
      <div class="col-md-4">
        <senses-display [senses]="character.senses"></senses-display>
      </div>
      <div class="col-md-4">
        <skills-display [character]="character"></skills-display>
      </div>
    </div>
  </div>
  <feature-display-list [features]="character.racialFeatures"></feature-display-list>
</div>