<nav class="navbar navbar-inverse bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">This is a simple tool for generating NPC character statistics based on the 5th edition Dungeons &amp; Dragons ruleset.
      <br/>To begin, click the button below.</p>
    <p><button type="button" class="btn btn-primary btn-lg" (click)="onGenerateClick()">Generate NPC</button>
      <p>
  </div>
</div>
<div class="container">
  <div class="npc-header">
    <h1 class="npc-name">John Smith</h1>
    <div class="text-muted npc-subline">
      <span class="size">{{character.race.size}}</span>
      <span class="race">{{character.race.name}}</span><source-reference [reference]="character.race.reference"></source-reference>
      <span class="sub-race" *ngIf="character.subrace">{{character.subrace.name}}<source-reference [reference]="character.subrace.reference"></source-reference></span>,
      <span class="npc-alignment">{{character.alignmentDescription}}</span>
    </div>
  </div>
  <ability-score-list [abilities]="character.abilities"></ability-score-list>
</div>