<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Name Generator</h1>
    <div class="mt-2">
      <dnd-name-generator-config [config]="config"></dnd-name-generator-config>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-primary btn-lg btn-icon" (click)="onGenerateClick()"><i class="mdi mdi-shuffle-variant"></i> Generate Names</button>
        <button class="btn btn-primary btn-lg btn-bottom-right" (click)="onGenerateClick()"><i class="mdi mdi-shuffle-variant"></i><span class="sr-only">Generate Names</span></button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="clearfix mb-4">
    <dnd-view-mode #viewMode></dnd-view-mode>
  </div>
  <div class="row" *ngIf="viewMode.mode === ViewMode.Detailed">
    <div class="col-sm-6" *ngFor="let name of names">
      <div class="card mb-2">
        <div class="card-block">
          <span class="pull-right text-muted"><i class="mdi" [ngClass]="name.genderIcon"></i> {{name.genderDesc}}</span>
          <h3 class="card-title">{{name.value}}</h3>
          <p class="card-text">{{name.definition.name}} ({{name.format.name}})</p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group" *ngIf="viewMode.mode === ViewMode.Basic">
    <div class="list-group-item" *ngFor="let name of names">
      {{name.value}}
    </div>
  </div>
</div>