.nav-sidebar {
    background: #fff;
    border-right: 5px solid #ccc;
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    z-index: 200;

    .list-group {
        .list-group-item {
            border-left: none;
            border-right: none;
            border-radius: 0;
        }
    }
}
