<div class="bb-thin">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="attribute-block">
        <div class="attribute-title">Level</div>
        <span class="primary">{{character.level.number}}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="attribute-block">
        <div class="attribute-title">Armor Class</div>
        <span class="primary">{{character.armorClass}}</span>
        <span class="secondary">({{character.equippedArmor}})</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="attribute-block">
        <div class="attribute-title">Hit Points</div>
        <span class="primary">{{character.hitPoints}}</span>
        <span class="secondary">({{character.hitPointFormula}})</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <dnd-speed [speed]="character.speed"></dnd-speed>
    </div>
  </div>
</div>
<div class="bb-thin">
  <div class="row">
    <div class="col-md-4">
      <div class="character-sub-block">
        <h3 class="sub-block-title">Languages</h3>
        {{character.languageString}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="character-sub-block">
        <h3 class="sub-block-title">Senses</h3>
        {{character.sensesString}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="character-sub-block">
        <h3 class="sub-block-title">Skills</h3>
        {{character.skillString}}
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-3">
      <div class="character-sub-block">
        <h4 class="sub-block-title">Weapon Proficiencies</h4>
        {{character.weaponProficiencyString}}
      </div>
    </div>
    <div class="col-3">
      <div class="character-sub-block">
        <h4 class="sub-block-title">Armor Proficiencies</h4>
        {{character.armorProficiencyString}}
      </div>
    </div>
    <div class="col-3">
      <div class="character-sub-block">
        <h4 class="sub-block-title">Tool Proficiencies</h4>
        {{character.toolProficiencyString}}
      </div>
    </div>
    <div class="col-3">
      <div class="character-sub-block">
        <h4 class="sub-block-title">Other Proficiencies</h4>
        {{character.otherProficiencyString}}
      </div>
    </div>
  </div>
</div>