<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Item Generator</h1>
    <div class="mt-2">
      <dnd-item-generator-config [config]="config"></dnd-item-generator-config>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-primary btn-lg btn-icon" (click)="onGenerateClick()"><i class="mdi mdi-shuffle-variant"></i> Generate Items</button>
        <button class="btn btn-primary btn-lg btn-bottom-right" (click)="onGenerateClick()"><i class="mdi mdi-shuffle-variant"></i><span class="sr-only">Generate Items</span></button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="clearfix mb-4">
    <dnd-view-mode #viewMode></dnd-view-mode>
  </div>
  <div class="row" *ngIf="viewMode.mode === ViewMode.Detailed">
    <div class="col-sm-6" *ngFor="let item of items">
      <div class="card mb-2">
        <div class="card-block">
          <span class="pull-right text-muted"><i class="mdi" [ngClass]="item.definition.iconClass"></i> {{item.definition.name}}</span>
          <h4 class="card-title">{{item.name}}</h4>
          <p class="card-text" [innerHTML]="item.description"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group" *ngIf="viewMode.mode === ViewMode.Basic">
    <div class="list-group-item" *ngFor="let item of items">
      {{item.name}}
    </div>
  </div>
</div>