<footer class="footer">
    <div class="container bt-light mt-4 pt-4 pb-4">
        <div class="text-right">
            <small>
                <div>Created by Thomas R. Wolfe</div>
                <div>All content owned by <a href="https://www.wizards.com" target="_blank">Wizards of the Coast</a></div>
                <div><a href="https://github.com/trwolfe13/dnd-5e-tools/" target="_blank"><i class="fa fa-github"></i> View on Github</a></div>
            </small>
        </div>
    </div>
</footer>