<div class="bb-thick bt-thick">
  <div class="row">
    <div class="col-md-3 col-6 level">
      <div class="attribute-block">
        <div class="attribute-title">Initiative</div>
        <span class="primary">{{currentInitiative || "--"}}</span>
      </div>
    </div>
    <div class="col-md-3 col-6 level">
      <div class="attribute-block">
        <div class="attribute-title">Round</div>
        <span class="primary">{{currentRound}}</span>
      </div>
    </div>
    <div class="col-md-3 col-6 level">
      <div class="attribute-block">
        <div class="attribute-title">Time Past</div>
        <span class="primary">{{timePast}}</span>
      </div>
    </div>
    <div class="col-md-3 col-6 level">
      <div class="attribute-block">
        <button class="btn btn-lg btn-primary btn-icon" (click)="nextClick.emit(null)"><i class="mdi mdi-play"></i> Next</button>
        <button class="btn btn-lg btn-primary btn-bottom-right" (click)="nextClick.emit(null)"><i class="mdi mdi-play"></i><span class="sr-only">Next</span></button>
      </div>
    </div>
  </div>
</div>