@import "../../styles/variables.scss";

.source-reference {
    padding-left: 2px;
}

.source-tip {
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    font-family: $font-family-secondary;

    a {
        color: white;
        font-weight: bold;
    }
}