<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Initiative Tracker</h1>
    <div class="text-right">
      <button type="button" class="btn btn-primary btn-lg" (click)="onResetClick()">Reset Tracker</button>
    </div>
  </div>
</div>
<div class="container">
  <dnd-initiative-header (nextClick)="onNextClick()" (backClick)="onBackClick()" [currentInitiative]="activeCreature ? activeCreature.initiative : null"
    [currentRound]="currentRound"></dnd-initiative-header>
  <dnd-initiative-list #list [activeCreature]="activeCreature"></dnd-initiative-list>
</div>
<dnd-initiative-footer (nextClick)="onNextClick()" (backClick)="onBackClick()"></dnd-initiative-footer>